<div class="m-4">
    <div class="text-center">
        <form>
            <fa name="car" size="4x" ></fa>
            <h4 class="h3 mb-3 font-weight-normal">استعلام نمره منفی گواهینامه</h4>
            <label for="inputEmail" class="sr-only">شماره گواهینامه</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="شماره گواهینامه" required="" autofocus="">
            
            <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">استعلام</button>
          </form>
    </div>
  </div>
