<div class="m-4">
    <div class="text-center">
        <h3>خلافی آنلاین</h3>
    </div>
    <div class="col-xs-12">
               
        <div class="box-part text-center">
            <fa name="car" size="3x" class="mb-3"></fa>
            
            <div class="title mt-3">
                <h5>استعلام خلافی خودرو</h5>
            </div>
            
            <div class="text">
                <span>با استفاده از بارکد مندرج در پشت کارت خودرو، خلافی خود را استعلام نمائید.</span>
            </div>
            
            <a routerLink="/carInquiry" class="btn btn-success"> استعلام خلافی خودرو</a>
            
         </div>
    </div>	 
    
     <div class="col-xs-12">
   
        <div class="box-part text-center">
            <fa name="address-card" size="3x"></fa>
            <div class="title mt-3">
                <h5>استعلام نمره منفی گواهینامه</h5>
            </div>
            
            <div class="text">
                <span>با استفاده از شماره گواهینامه، نمره منفی خود را استعلام نمائید.</span>
            </div>
            
            <a routerLink="/certificateInquiry"  class="btn btn-info">استعلام نمره منفی</a>
            
         </div>
</div>
</div>

